#formm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 250, 241);
  margin-top: 7rem;
  padding: 5rem;
  border-radius: 1rem;
  max-width: fit-content;
  margin-left: 30%;
  border: 0.5px solid rgb(128, 128, 128);
}

#Date {
  margin-top: 0.3rem;
  width: 40rem;
  height: 4rem;
  font-size: small;
  background-color: rgb(242, 250, 241);
  border: 0.5px solid rgb(128, 128, 128);
  border-radius: 0;
  color: blue;
}

#Time {
  margin-top: 0.3rem;
  width: 40rem;
  height: 4rem;
  font-size: small;
  background-color: rgb(242, 250, 241);
  border: 0.05px black;
  border-radius: 1rem;
  color: blue;
}

.val-book {
  width: 50%;
  border: 0;
  background-color: blue;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  #form {
    width: 70%;
    margin-left: 0;
  }
}
