.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

td,
th {
  vertical-align: middle;
}

.tb-title {
  color: rgb(110, 108, 105);
  margin-left: 5rem;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}

#btn-c {
  margin-top: 0.8rem;
}
